
<div class="section">
  <h1 class="center-align thin">Your Cart</h1>
</div>


<div class="row">
  <% @products.each do |product| %>
    <%= link_to(product_path(product)) do %>
    <div class="col m4">
      <h5 class="black-text center-align">  <%= product.name %>  </h5>
      <div class="center-align">
        <%= image_tag(product.picture.url(:thumb), class: 'center-align') %>
      </div>
      <p class="black-text center-align"><strong>$ <%= product.get_price %></strong></p>
      <div class="divider"></div>
    </div>
    <% end %>
  <% end %>
</div>
<div class="section">
  <h4>Subtotal: $ <%= @sub_total %> </h4>
</div>
<%= link_to "Continue Shopping", products_path, class: 'btn' %>
<%= link_to "Checkout", "/", class: 'btn amber' %>
