<div class="section">
  <% if current_user.admin %>
  <%= link_to "Add a Product", new_product_path, class: 'btn green right' %>
  <% end %>

</div>
<div class="section">
  <h1 class="center-align thin">All Products</h1>
</div>


<div class="row">
  <% @products.each do |product| %>
    <%= link_to(product_path(product)) do %>
    <div class="col m4">
      <h5 class="black-text center-align">  <%= product.name %>  </h5>
      <div class="center-align">
        <%= image_tag(product.picture.url(:thumb), class: 'center-align') %>

      </div>
      <p class="black-text center-align"><strong>$ <%= product.price %></strong></p>
      <div class="divider"></div>
    </div>
    <% end %>
  <% end %>
</div>
