<div class="section">
  <h4 class="center-align"><%= @product.name %></h4>
</div>

<% if current_user.admin %>
  <%= link_to "Edit Product", edit_product_path(@product), class: 'btn yellow right', style: 'margin-left: 10px;' %>
  <%= link_to "Delete Product", product_path(@product), class: 'btn red right',
                                :data => {:confirm => "Are you sure?",
                                :method => "delete"}  %>
<% end %>

<div class="row">
  <div class="col m8">
    <%= image_tag(@product.picture.url(:full)) %>
  </div>
  <div class="col m4">
    <p><%= @product.description %></p>
    <h5 class="thin"><strong>$ <%= @product.price %></strong></h5>
    <%= link_to "Add to Cart", product_carts_path(@product), class: 'btn amber', style: 'width: 100%;', method: 'post' %>
  </div>
</div>
<% if @comment %>
  <%= render 'comment_form' %>
<% else %>
  <%= link_to "Add a Comment", new_product_comment_path(@product), class: 'btn' %>
<% end %>


<h4 class="center-align">Comments</h4>
<% @comments.each do |comment| %>
  <div class="row">
    <div class="col l12">
      <div class="card-panel white">
        <h6><strong><%= comment.user.user_name %></strong></h6>
        <div class="divider"></div>
        <p><%= comment.content %></p>
        <p class="right-align"><%= comment.created_at %></p>
        <% if current_user.admin %>
          <%= link_to "Delete Comment", product_comment_path(@product, comment), class: 'btn red',
                                        :data => {:confirm => "Are you sure?",
                                        :method => "delete"}  %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<br>
