<h4>  <%= @product.name %>  </h4>

<div class="row">
  <div class="col m8">
    <%= image_tag(@product.picture.url(:full)) %>
  </div>
  <div class="col m4">
    <p>
      <%= @product.description %>
    </p>
  </div>
</div>
<% if @comment %>
  <%= render 'comment_form' %>
<% end %>

<h4 class="center-align">Comments</h4>
<% @comments.each do |comment| %>
  <div class="row">
    <div class="col l12">
      <div class="card-panel white">
        <p><strong><%= comment.user.user_name %></strong><p>
        <p><%= comment.content %></p>
      </div>
    </div>
  </div>
<% end %>

<%= link_to "Add a Comment", new_product_comment_path(@product), class: 'btn' %>
