<h2>Sign up</h2>

<div class="row">
  <div class="col m3"></div>
  <div class="col m6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="file-field input-field">
      <div class="btn">
        <span>Add Profile Picture</span>
        <%= f.file_field :avatar %>
      </div>
      <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
    </div>


    <br>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :user_name %><br />
      <%= f.text_field :user_name %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.check_box :admin %>
      <%= f.label :admin %>
    </div>
    <h6 class="red-text">Note: this check box gives the user admin priveleges.</h6>
    <br>
    <div class="actions">
      <%= f.submit "Sign up", class: 'btn' %>
    </div>
    <% end %>
    <br>
    <%= render "users/shared/links" %>
  </div>
</div>
